#Functions

1. Difference between a Function and a Method in Python.
  - A function is a block of reusable code that performs a specific task and is defined using the def keyword.
  - A method is a function that belongs to an object and is called using the object's instance.

In [ ]:
#Example

# Function
def add(a, b):
    return a + b
print(add(2, 3))  # Output: 5

# Method inside a class
class MathOperations:
    def multiply(self, a, b):
        return a * b

obj = MathOperations()
print(obj.multiply(2, 3))  # Output: 6

5
6

2. Function Arguments and Parameters in Python
  - Parameters are variables listed in the function definition.
  - Arguments are values passed to the function when calling it.

In [ ]:
#Example

def greet(name):  # name is a parameter
    return "Hello, " + name

print(greet("Alice"))  # "Alice" is an argument

Hello, Alice

3. Different Ways to Define and Call a Function.

In [ ]:
#Using def keyword

def add(a, b):
    return a + b

print(add(5, 3))  # Output: 8


#Using lambda function

add = lambda a, b: a + b
print(add(5, 3))  # Output: 8

8
8

4.  Purpose of the return Statement.
  - The return statement is used to send a result from a function back to the caller.

In [ ]:
def square(num):
    return num * num

print(square(4))  # Output: 16

16

5. Iterators vs. Iterables
  - An iterable is an object that can be looped over (e.g., lists, tuples, dictionaries).
  - An iterator is an object that uses __iter__() and __next__() methods.

In [ ]:
my_list = [1, 2, 3]
my_iter = iter(my_list)  # Creating an iterator
print(next(my_iter))  # Output: 1
print(next(my_iter))  # Output: 2

1
2

6. Generators in Python.
 - A generator is a special function that produces values lazily using yield.

In [ ]:
def my_gen():
    yield 1
    yield 2
    yield 3

gen = my_gen()
print(next(gen))  # Output: 1
print(next(gen))  # Output: 2

1
2

7. Advantages of Generators.
 - Memory Efficient: Doesn't store all values in memory.
 - Lazy Evaluation: Generates values on demand.

In [ ]:
def count_up_to(n):
    i = 1
    while i <= n:
        yield i
        i += 1

for num in count_up_to(5):
    print(num)

1
2
3
4
5

8. Lambda Function and Its Usage.
  - A lambda function is a small, anonymous function that can have any number of arguments but only one expression.

In [ ]:
#Example

add = lambda x, y: x + y
print(add(3, 4))  # Output: 7

7

9. Purpose of map() Function.
 - map() applies a function to all elements in an iterable.

In [ ]:
#Example
nums = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, nums))
print(squared)  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

10. Difference Between map(), reduce(), and filter().

  - map() ; Applies a function to all elements ; ex - map(lambda x: x*2, [1,2,3]) → [2,4,6].

  - reduce() ; Reduces an iterable to a single value ; ex - reduce(lambda x, y: x+y, [1,2,3]) → 6.

  - filter() ;	Filters elements based on a condition	; filter(lambda x: x%2==0, [1,2,3,4]) → [2,4].

11. Sum Operation Using reduce().
 - https://drive.google.com/file/d/1MzNG5N-mCmiIIPQFRBENymEeef7OV1q_/view?usp=sharing

#Practical

1. Sum of All Even Numbers in a List.

In [ ]:
def sum_even_numbers(lst):
    return sum(num for num in lst if num % 2 == 0)

print(sum_even_numbers([1, 2, 3, 4, 5, 6]))  # Output: 12

12

2. Reverse a String.

In [ ]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))  # Output: "olleh"

olleh

3. Square of Each Number in a List.

In [ ]:
def square_list(lst):
    return [x**2 for x in lst]

print(square_list([1, 2, 3, 4]))  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

4. Check Prime Numbers (1 to 200).

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = [n for n in range(1, 201) if is_prime(n)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

5. Fibonacci Iterator Class.

In [ ]:
class Fibonacci:
    def __init__(self, n):
        self.n, self.a, self.b = n, 0, 1

    def __iter__(self):
        return self

    def __next__(self):
        if self.n == 0:
            raise StopIteration
        self.n -= 1
        self.a, self.b = self.b, self.a + self.b
        return self.a

fib = Fibonacci(10)
print(list(fib))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

6. Generator for Powers of 2.

In [ ]:
def power_of_2(n):
    for i in range(n+1):
        yield 2**i

print(list(power_of_2(5)))

[1, 2, 4, 8, 16, 32]

7. File Line Generator.

8. Sort Tuples by Second Element Using Lambda.

In [ ]:
data = [(1, 5), (2, 3), (3, 8)]
data.sort(key=lambda x: x[1])
print(data)  # Output: [(2, 3), (1, 5), (3, 8)]

[(2, 3), (1, 5), (3, 8)]

9. Convert Celsius to Fahrenheit Using map().

In [ ]:
temps = [0, 20, 30]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, temps))
print(fahrenheit)  # Output: [32.0, 68.0, 86.0]

[32.0, 68.0, 86.0]

10. Remove Vowels Using filter().

In [ ]:
def remove_vowels(s):
    return "".join(filter(lambda ch: ch.lower() not in "aeiou", s))

print(remove_vowels("hello world"))  # Output: "hll wrld"

hll wrld

11. Accounting Routine Using lambda and map().

In [ ]:
orders = [(34587, 4, 40.95), (98762, 5, 56.80), (77226, 3, 32.99)]
invoice = list(map(lambda x: (x[0], x[1] * x[2] + (10 if x[1] * x[2] < 100 else 0)), orders))
print(invoice)

[(34587, 163.8), (98762, 284.0), (77226, 108.97)]